---
import { getCollection } from "astro:content";
import SectionHeader from "~/components/ui/SectionHeader.astro";
import ProjectCard from "../ui/ProjectCard.astro";
const projects = await getCollection("projects", ({ data }) => data.available);
const featuredProjects = projects.slice(0, 4);
---

<section id="cases" class="px-6 max-w-7xl mx-auto space-y-16 w-full">
  <SectionHeader
    tag="Nuestro trabajo"
    title="Cómo hemos ayudado a otras empresas"
    description="Descubre cómo hemos ayudado a nuestros clientes a convertir ideas ambiciosas en productos digitales impactantes."
    linkText="Ver todos"
    linkHref="/projects"
  />

  <!-- Cases grid -->
  <div class="grid lg:grid-cols-2 gap-6">
    {
      featuredProjects.map((project) => (
        <ProjectCard
          id={project.id}
          title={project.data.title}
          summary={project.data.summary}
          category={project.data.category}
          color={project.data.color}
          tech={project.data.tech}
        />
      ))
    }
  </div>
</section>
