---
import { Icon } from "astro-icon/components";
import Image from "astro/components/Image.astro";
import SectionHeader from "~/components/ui/SectionHeader.astro";
import CtaButton from "../ui/CtaButton.astro";

import imageMobile from "~/assets/media/landing/flatmatch-mobile.webp";
import imageFooter from "~/assets/media/landing/nh-admin.webp";
import imagePhones from "~/assets/media/landing/phones.webp";

const services = [
  {
    title: "UX/UI para productos complejos",
    description:
      "Diseñamos interfaces claras y eficientes para productos SaaS, plataformas B2B o herramientas internas.",
  },
  {
    title: "Web & mobile apps",
    description:
      "Diseño y desarrollo de sitios web a medida, escalables y centrados en la experiencia del usuario.",
  },
  {
    title: "Motion design & animation",
    description:
      "Da vida a tu marca con diseño en movimiento suave, elegante y funcional que mejora la interacción y capta la atención.",
    process: [
      "Storyboarding",
      "Style Frames & Design",
      "Animation & Motion",
      "Sound Design & Polish",
      "Review & Delivery",
      "Final Audit",
    ],
  },
  {
    title: "Webs visuales y marketing sites",
    description:
      "Sitios rápidos de implementar pero con alto impacto visual. Ideal para marcas, lanzamientos y landings. Diseño personalizado, animaciones, copy estratégico y SEO on-page.",
  },
  {
    title: "Productos de calidad",
    description: "Para negocios que crecen",
  },
];

const technologies = [
  {
    label: "Figma",
    icon: "figma",
  },
  {
    label: "Design Systems",
    icon: "paint-roller",
  },
  {
    label: "React",
    icon: "react",
  },
  {
    label: "Typescript",
    icon: "typescript",
  },
  {
    label: "Responsive",
    icon: "mobile",
  },
  {
    label: "Databases",
    icon: "database",
  },
];
---

<section class="landing-section">
  <SectionHeader
    title="Convertimos ideas"
    subtitle="en productos de alto impacto"
    tag="Servicios"
  />

  <!-- bento con stagger -->
  <ul
    class="bento flex flex-col lg:grid grid-cols-3 auto-rows-auto gap-4 w-full"
    data-stagger="120"
  >
    <li
      class="row-span-2 panel gap-4 grid grid-rows-[auto_1fr]"
      data-reveal="top-left"
      data-speed="normal"
      data-easing="smooth"
    >
      <header class="flex flex-col gap-4">
        <h3>{services[0].title}</h3>
        <p>{services[0].description}</p>
      </header>
      <div class="relative w-full h-full overflow-hidden max-h-[360px]">
        <Image
          width={400}
          height={350}
          src={imagePhones}
          alt="Captura de pantalla del panel de administración de NovaHair, mostrando un diseño limpio y moderno con gráficos de rendimiento y gestión de clientes."
          class="w-full h-full object-cover object-top"
        />

        <div
          class="absolute bottom-0 left-0 w-full h-12 bg-gradient-to-t from-accent"
        >
        </div>
      </div>
      <li
        class="col-span-2 panel flex flex-col justify-between gap-4"
        data-reveal="top-right"
        data-speed="normal"
        data-easing="smooth"
      >
        <header class="flex flex-col gap-4">
          <h3>{services[1].title}</h3>
          <p>{services[1].description}</p>
        </header>
        {
          technologies && (
            <ul class="flex gap-2 flex-wrap max-w-md">
              {technologies.map((step) => (
                <li class="py-1.5 px-3 bg-muted text-sm rounded-full flex gap-2 items-center text-foreground">
                  <Icon name={step.icon} class="size-3.5" />
                  {step.label}
                </li>
              ))}
            </ul>
          )
        }
      </li>
      <li
        class="col-span-2 col-start-2 row-start-2 panel"
        data-reveal="right"
        data-speed="normal"
        data-easing="smooth"
      >
        <div class="grid lg:grid-cols-[2fr_1fr] gap-4 h-full">
          <div class="flex flex-col justify-between gap-6">
            <header class="flex flex-col gap-4">
              <h3>{services[2].title}</h3>
              <p>{services[2].description}</p>
            </header>
            <CtaButton size="sm" />
          </div>
          <div class="relative w-full flex items-end justify-end">
            <Image
              width={200}
              height={800}
              src={imageMobile}
              alt="Captura de pantalla del panel de administración de NovaHair, mostrando un diseño limpio y moderno con gráficos de rendimiento y gestión de clientes."
              class="w-full max-h-[200px] border-4 border-b-0 border-primary bg-[#c7c7c7] p-1 rounded-t-[32px] object-cover object-top"
            />

            <div
              class="absolute bottom-0 left-0 w-full h-12 bg-gradient-to-t from-accent"
            >
            </div>
          </div>
        </div>
      </li>
      <li
        class="col-span-2 row-start-3 panel"
        data-reveal="bottom-left"
        data-speed="normal"
        data-easing="smooth"
      >
        <h3>{services[3].title}</h3>
        <p>{services[3].description}</p>
        <div class="relative w-full h-full">
          <Image
            width={700}
            height={110}
            src={imageFooter}
            alt="Captura de pantalla del panel de administración de NovaHair, mostrando un diseño limpio y moderno con gráficos de rendimiento y gestión de clientes."
            class="w-full max-w-[700px] h-[110px] mt-4 border border-muted p-2 rounded-2xl object-cover object-top"
          />

          <div
            class="absolute bottom-0 left-0 w-full h-12 bg-gradient-to-t from-accent"
          >
          </div>
        </div>
      </li>
      <li
        class="flex flex-col gap-4 bg-linear-60 from-primary/20 to-primary/30 rounded-2xl shadow-pastel p-7 justify-end"
        data-reveal="bottom-right"
        data-speed="normal"
        data-easing="bounce"
      >
        <header class="h-full flex flex-col justify-end">
          <h3 class="text-2xl font-semibold text-pretty">
            {services[4].title}
          </h3>
          <p class="text-xl">{services[4].description}</p>
        </header>
        <CtaButton />
      </li>
    </li>
  </ul>
</section>
