---
import { getMetadata } from "~/lib/constants";
import "./footer.css";
const { name, links } = getMetadata();
---

<footer class="rounded-t-[10vw] mt-20 z-50 flex justify-center pb-20">
  <div
    class="max-w-7xl px-6 xl:px-10 w-full mx-auto flex-col grid grid-rows-[1fr_auto] gap-4"
  >
    <section class="grid gap-6 grid-cols-4 mb-10 text-sm">
      <div class="footer-section">
        <h3 class="footer-section-title">Índice</h3><ul
          class="footer-section-links"
        >
          <li><a href="/">Inicio</a></li><li>
            <a href="/#services">Servicios</a>
          </li><li><a href="/#portfolio">Proyectos</a></li><li>
            <a href="/#faq">FAQ</a>
          </li><li><a href="/#contact">Contacto</a></li>
        </ul>
      </div><div class="footer-section">
        <h3 class="footer-section-title">Proyectos</h3><ul
          class="footer-section-links"
        >
          <li>
            <a href="https://novahair.polgubau.com" target="_blank" rel="noopener noreferrer">NovaHair</a>
          </li><li>
            <a href="https://flatmatch.polgubau.com" target="_blank" rel="noopener noreferrer">FlatMatch</a>
          </li><li>
            <a href="https://trackup.polgubau.com" target="_blank" rel="noopener noreferrer">TrackUp</a>
          </li>
        </ul>
      </div><div class="footer-section">
        <h3 class="footer-section-title">Contacto</h3><ul
          class="footer-section-links"
        >
          <li><a href={links.email}>Email</a></li><li>
            <a href={links.linkedin} target="_blank" rel="noopener noreferrer">LinkedIn</a>
          </li><li>
            <a href={links.github} target="_blank" rel="noopener noreferrer">GitHub</a>
          </li><li>
            <a href={links.twitter} target="_blank" rel="noopener noreferrer">Twitter / X</a>
          </li>
        </ul>
      </div><div class="footer-section">
        <h3 class="footer-section-title">Legal</h3><ul
          class="footer-section-links"
        >
          <li><a href="/privacy">Política de privacidad</a></li><li>
            <a href="/cookies">Política de cookies</a>
          </li><li><a href="/legal">Aviso legal</a></li>
        </ul>
      </div>
    </section>

    <div class="grid md:grid-cols-2 gap-4 items-end">
      <div class="flex flex-col gap-2">
        <p>© {name} {new Date().getFullYear()}</p>
      </div>
    </div>
  </div>
</footer>
